    //lists
    //fuentes-desktop
    $fuentes-desktop: 4.5rem,
    4rem,
    3.3rem,
    2.5rem,
    1.8rem,
    1.6rem;
    //fuentes 1024
    $fuentes-1024: 4rem,
    3.5rem,
    3.2rem,
    3rem,
    2.2rem,
    1.8rem;
    //fuentes 400
    $fuentes-400: 4rem,
    3.5rem,
    3.2rem,
    3rem,
    2.2rem,
    1.8rem;